.navbar-dark {
    border: white solid 1px;
}

.navbar-dark .nav-link:hover {
    color: #ffd700;
    transition: color 0.3s ease-in-out;
  }

  footer p {
    text-align: center;
  }

  #intro {
    text-align: center;
  }

  #about-me, #professional-background, #favorite-sites, #favorite-movies, #favorite-hobbies, #contact {
    padding: 1em;
  }

  #about-me h3 {
    margin-top: 0.5em;
  }

  .list-group .list-group-item:hover {
    color: #ffd700;
    transition: color 0.2s ease-in-out;
  }

  form {
    padding: 1em;
  }

  #form h3 {
    padding: 0.7em;
  }

#contact h3 {
    margin-bottom: 1.6em;
}
    